/* 作品
========================================== */
.work{
    display: flex;
    flex-wrap: wrap;
  }
  
  /* 內框 */
  .work-wrap{
    width: calc(100%/2);
  
    padding: 4% 5px 4% 5px;
  
    display: flex;
    flex-direction: column;
  
    cursor: pointer;
  }
  
  @media only screen and (min-width: 540px) {
    .work-wrap{
      width: calc(100%/3);
    }
  }
  @media only screen and (min-width: 767px) {
    .work-wrap{
      width: calc(100%/4);
    }
  }
  @media only screen and (min-width: 992px) {
    .work-wrap{
      width: calc(100%/5);
    }
  }
  @media only screen and (min-width: 1200px) {
    .work-wrap{
      width: calc(100%/7);
    }
  }
  
  
  /* 照片外框 */
  .work-pic{
    width: 100%;
    overflow: hidden;
    transition: .4s;
  }
  
  /* 照片 */
  .work-pic img{
    display: block;
    width: 100%;
  
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  
  .work-wrap:hover .work-pic img{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -moz-transform: scale3d(1.07, 1.07, 1);
    -ms-transform: scale3d(1.07, 1.07, 1);
    -webkit-transform: scale3d(1.07, 1.07, 1);
    transform: scale3d(1.07, 1.07, 1);
  }
  
  /* 作品標題 */
  .work-title{
    margin-top: 8.5%;
    letter-spacing: 1px;
  }
  
  .work-en-title{
    margin-top: 5px;
    color:#727272 ;
    font-size: 14px;
    line-height: 1.7;
  }
